<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="navbar.css">
  <title>Accepted Bets</title>
</head>
<body>
  <input type="checkbox" id="menu-toggle" class="menu-checkbox">

  <nav class="navbar">
    <div class="menu">
      <div class="menu-content">
        <!-- Hamburger Menu Icon -->
        <div class="menu-icon" id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <!-- Logo -->
        <div class="logo">ChalkIQ</div>
      </div>
      <!-- Menu Items -->
      <ul>
        <li><a href="/mygroup">My Group</a></li>
        <li><a href="/mybets">My Bets</a></li>
        <li><a href="/my-stats">My Stats</a></li>
        <li><a href="/signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <!-- Your layout for displaying accepted bets goes here -->
  <h1>Accepted Bets</h1>

  <!-- Tabs for switching between different types of bets -->
<div class="bet-tabs">
  <button id="tab-inprogress">In Progress Events</button>
  <button id="tab-upcoming">Upcoming Events</button>
  <button id="tab-finished">Finished Events</button>

</div>

<!-- Sections for different types of bets -->
<section id="upcoming-events-section" style="display: none;">
  <h2>Upcoming Events</h2>
  <div id="upcoming-events">
    <!-- Upcoming bets will be displayed here -->
  </div>
</section>

<section id="in-progress-events-section">
  <h2>In Progress Events</h2>
  <div id="in-progress-events">
    <!-- In-progress bets will be displayed here -->
  </div>
</section>

<section id="finished-events-section" style="display: none;">
  <h2>Finished Events</h2>
  <div id="finished-events">
    <!-- In-progress bets will be displayed here -->
  </div>
</section>

  <script>
    var userData = <%- JSON.stringify(user) %>; // Embed JSON data
  </script>



  <!-- <ul id="accepted-bets-list"></ul> -->
  <script src="navbar.js"></script> <!-- JavaScript for navbar functionality -->
  <script src="accepted-bets.js"></script>
</body>
</html>
