<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="navbar.css">

  <title>Wagers</title>
</head>
<body>
  <input type="checkbox" id="menu-toggle" class="menu-checkbox">

  <nav class="navbar">
    <div class="menu">
      <div class="menu-content">
        <!-- Hamburger Menu Icon -->
        <div class="menu-icon" id="menu-icon">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
        <!-- Logo -->
        <div class="logo">ChalkIQ</div>
      </div>
      <!-- Menu Items -->
      <ul>
        <li><a href="/mygroup">My Group</a></li>
        <li><a href="/mybets">My Bets</a></li>
        <li><a href="/my-stats">My Stats</a></li>
        <li><a href="/signout">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <h1>Available Bets</h1>

  <script>
    var userData = <%- JSON.stringify(user) %>; // Embed JSON data
  </script>

  <div id="wagers-container" class="wagers-container">
    <!-- Wager cards will be dynamically added here -->
    <ul id="wagers-list"></ul>

  </div>

  <script src="navbar.js"></script> <!-- JavaScript for navbar functionality -->
  <script src="wagers.js"></script>
</body>
</html>
