/* Universal Base Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Default font size */
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 0;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: red;
  color: #333;
  font-weight: normal;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

td {
  border-bottom: 1px solid #ddd;
}

/* Additional styles for other elements */
.tabulator {
  border-radius: 8px;
  font-size: 16px;
  /* overflow: hidden; */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
}

.tabulator-row {
  border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.tabulator-row:hover {
  background-color: #f5f5f5;
}

.tabulator-cell {
  padding: 12px 15px;
}

.tabulator-header {
    font-size: 16px;
}

/* Center the tabs container */
.tabs {
  display: flex;
  justify-content: center; /* Center tabs horizontally */
  flex-wrap: wrap; /* Allow the tabs to wrap onto the next line if needed */
  margin-bottom: 20px; /* Space below the tabs container */
  position: sticky; /* Make the tabs stick to the top of the viewport */
  top: 0; /* Distance from the top of the viewport */
  background-color: inherit; /* Set a background color to ensure the text behind doesn't show through */
  z-index: 1000; /* Ensure the tabs stay on top of other content */
}


/* Style for the tab buttons */
.tablinks {
  background-color: #eee; /* Light grey background */
  border: none; /* Remove borders */
  padding: 10px 20px; /* Top and bottom padding, left and right padding */
  margin: 0 2px; /* Reduced margin between buttons for smaller space */
  cursor: pointer; /* Cursor indicates clickable item */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  font-weight: bold;
}


/* Hover and active state for tab buttons */
.tablinks:hover, .tablinks.active {
  background-color: #ddd; /* Slightly darker grey on hover/active */
  color: #000; /* Black text color for better visibility */
}

/* Style for the tab content */
.tabcontent {
  display: none; /* Hide tab content by default */
  animation: fadeIn 0.3s; /* Fade in effect when tab content becomes visible */
}

/* Keyframes for fadeIn animation */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Style for sub-tabs within 'My Bets' */
.my-bets-tabs {
  display: flex;
  justify-content: center; /* Center sub-tabs within their container */
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  background-color: #f0f0f0; /* Light background color for the tabs container */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
  border-radius: 5px; /* Rounded corners for modern look */
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  max-width: 375px;
  font-size: 14px;
}

.sub-tablinks {
  background-color: #ffffff; /* Light background making active tab stand out */
  border: none;
  padding: 5px 10px; /* Adequate padding for touch targets */
  margin: 4px; /* Space between tabs */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* Smooth background color change and slight grow effect */
  border-radius: 4px; /* Rounded corners for tabs */
  font-weight: 600; /* Slightly bolder font for better readability */
  font-size: 12px;
}

.sub-tablinks:hover, .sub-tablinks.active {
  background-color: #0056b3; /* Highlight color for hover and active states */
  color: #ffffff; /* White text for contrast */
  transform: translateY(-2px); /* Slight raise effect on hover */
}

/* Adjustments for content sections */


/* Display the default open tab content */
.default-open {
  display: block;
}




#createBet-sports-icons-container {
  top: 50px; /* Height of the navbar, adjust if different */
  z-index: 1000;
  background-color: #f8f9fa; /* Example background color */
  border-bottom: 1px solid #e7e7e7;
  padding: 5px;
  text-align: center;
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 8px -2px rgba(0,0,0,0.2); /* Added shadow */
  position: sticky;
  margin-bottom: 15px;
  max-width: 390px;
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  border-radius: 5px;
}

.createBet-sport-icon {
  display: inline-block;
  margin: 2px 5px;
  padding: 2px 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.1s;
}

.createBet-sport-icon:hover {
     background-color: #0056b3; /* Hover effect */
     color: white;
   }

.createBet-sport-icon .highlighted-icon {
    background-color: red; /* Example background color for highlighting */
}

/* Add this CSS to style the drawer */
.drawer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  overflow: hidden;
  transition: height 0.3s ease;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 375px;
  /* padding: 7.5px; */
}

#drawer-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* Take full viewport height */
}

.drawer-nav {
  display: flex;
   justify-content: flex-end; /* Align to the right */
   padding: 10px; /* Add some padding */

}

/* Style the content inside the drawer */
.drawer-content {
  text-align: center;
    /* padding: 1rem; */
}

/* Style the close button */
.close-button {
  background-color: #333333; /* Red background color */
   color: #fff; /* White text color */
   padding: 10px 20px; /* Padding for better appearance */
   border: none; /* Remove border */
   cursor: pointer;
   font-size: 16px;
   margin: 0; /* Ensure no margin is applied */
   border-radius: 5px;
}

/* Add this CSS to style the drawer header with space between team name and odds */
.drawer-header {
  margin: 0; /* Remove default margin */
  padding: 10px; /* Add padding for better appearance */
}

.drawer-info {
  text-align: center;
  margin-bottom: 10px; /* Space above the wager input */
}

.drawer-team-name,
.drawer-odds {
  display: inline; /* Inline display for same line */
  margin: 0 5px;
  font-weight: bold;
}

.drawer-odds::before {
  content: '\00a0'; /* Add a non-breaking space before the odds */
}

#toast {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 8px 0; /* Reduced padding */
    text-align: center;
    z-index: 1000;
    display: none; /* Initially hidden */
    font-size: 14px; /* Adjusted font size */
}

.button {
  width: 60%; /* Adjust width as necessary */
  padding: 15px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 25px;
  height: 40px;
  font-size: 1.8em;
  display: block; /* Ensures the button takes up the full width available */
  margin: 10px auto; /* Center button and provide some spacing */
  font-size: 16px;
}

.button-delete {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text itself is centered */
  width: auto; /* Adjust width as needed, or set to 100% if you want the button to expand to container width */
  padding: 10px; /* Adjust padding to ensure text is centered, consider reducing if text appears offset */
  font-size: 16px; /* Adjust font size as needed for readability */
  margin: 0 auto; /* Center button horizontally within its container */
  background-color: #dc3545; /* Bootstrap's danger color for reference */
  color: white;
  width: 50%;
}

.button-take {
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Ensure text itself is centered */
  width: auto; /* Adjust width as needed, or set to 100% if you want the button to expand to container width */
  padding: 10px; /* Adjust padding to ensure text is centered, consider reducing if text appears offset */
  font-size: 16px; /* Adjust font size as needed for readability */
  margin: 0 auto; /* Center button horizontally within its container */
  background-color: #28a745; /* Bootstrap's success color for reference */
  color: white;
  width: 50%;
}

.button-delete:hover, .button-take:hover {
    opacity: 0.8; /* Slightly darken the button on hover */
}

/* ------------------My Bets------------------- */

.bet-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px; /* Space between cards */
  margin-left: auto;
  margin-right: auto;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 375px;
  border: 1px solid #76877D; /* Added border: specify width, style, and color */
}

.event-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  max-width: 375px;
  border: 1px solid #76877D; /* Added border: specify width, style, and color */
}


.game-time, .wager-amount {
  margin-bottom: 5px; /* Add some space below these elements */
  font-size: 16px;;
}

.details-container {
  display: flex; /* Continue using Flexbox */
  gap: 10px; /* This creates space between flex items */
  padding: 5px; /* Add padding around the edges to ensure the background extends around the children */
  border-radius: 5px;
}

.original-details, .accepted-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5px 0; /* Adjusted to apply margin only to the top and bottom */
  flex: 1;
  padding: 5px; /* Padding inside each details section */
  min-width: 135px; /* Minimum width for each section */
  box-sizing: border-box; /* Makes sure padding is included in the width/height calculations */
  background-color: white;
  border-radius: 5px;
  max-width: 180px;
  border: 1px solid #76877D; /* Added border: specify width, style, and color */
}

/* Add a gap between the game time and the wager amount */
.game-time + .wager-amount {
  margin-top: 5px; /* Adjust according to your preference */
}

.bet-card, .game-time, .wager-amount, .original-details, .accepted-details {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Aligns children (flex items) vertically center */
  align-items: center; /* Aligns children (flex items) horizontally center */
  text-align: center; /* Centers the text for direct text children */
}

.bet-scores {
  background-color: lightgray; /* Dark background for contrast */
  color: black; /* White text for visibility */
  font-family: 'Courier New', Courier, monospace; /* Monospaced font for that digital look */
  font-size: 1.2em; /* Increase the font size */
  padding: 6px 12px; /* Slightly larger padding for emphasis */
  margin-bottom: 8px; /* Space below the scoreboard */
  border-radius: 8px; /* Slightly larger rounded corners */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Soft shadow for depth */
  width: auto; /* Auto width based on content size */
  justify-content: center; /* Center align the flex container content */
  display: inline-flex; /* Use inline-flex to make the container size to its content */
  align-items: center; /* Vertically center the content */
  font-weight: bold;
  border: 1px solid #76877D; /* Added border: specify width, style, and color */
}


.wager-amount {
  font-size: 1.25em; /* Keep the font size larger for emphasis */
  font-weight: bold; /* Maintain bold font weight for visibility */
  color: black; /* A bright, eye-catching color - adjust as needed */
  padding: 5px 0; /* Minimal padding to maintain spacing without a background */
  margin: 5px 0; /* Space around the wager amount for separation from other elements */
  display: inline; /* Adjust as necessary, inline keeps it within text flow */
  text-align: center; /* Center-align the text if it fits the design */
}

/* If the wager amount is within a larger container, ensure it aligns well */
.wager-container {
  text-align: center; /* Center the wager amount text if it's within a container */
}

.bets-section.sub-tabcontent {
  display: grid;
  grid-gap: 20px; /* Adjust the gap between grid items */
  padding: 20px; /* Padding around the entire grid */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Create a responsive grid */
}

.bet-card .game-time {
  background-color: #0056b3;
  padding: 3px 5px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: white;
  width: max-content;
  border-width: medium;
  font-weight: bold;
  margin: auto;
}

#wagers-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* example for a responsive grid */
  gap: 10px;
  flex-direction: column;
  align-items: center; /* Align items to the start horizontally */
  justify-content: flex-start; /* Align items to the start vertically */
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}



#wagers-list {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  width: 100%;
}

.winner {
  border: none;
  color: green;
}

.loser {
  border: none;
  color: #dc3545;
}


/* ---------------Create Bet----------------- */
.time {
  background-color: #0056b3;
    padding: 3px 5px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    width: max-content;
    border-width: medium;
    font-weight: bold;
    margin: auto;
    margin-bottom: 20px;
}

/* ------------Create Bets------------------- */
.event-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: auto; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f0f0f0;
  max-width: 375px;
  border: 1px solid #76877D; /* Added border: specify width, style, and color */
}

/* ------------Open Bets--------------------- */
.time-wagers {
    background-color: #0056b3;
    padding: 5px 10px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    color: white;
    width: max-content;
    margin: 10px auto;
    font-size: 16px;
}

.wager-card {
  display: block;
  max-width: 375px;
  width: 95%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the card */
  margin-bottom: 5px; /* Space between cards */
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 1.0em;
}

/* ---------Floating Button--------- */
.floating-button {
    position: fixed; /* Fixed position */
    bottom: 20px; /* 20px from the bottom */
    right: 20px; /* 20px from the right */
    background-color: #0056b3; /* Blue background color */
    color: white; /* White text color */
    border-radius: 50%; /* Circular shape */
    text-align: center; /* Center the '+' inside the button */
    line-height: 50px; /* Center the '+' vertically */
    width: 50px; /* Width of the button */
    height: 50px; /* Height of the button */
    font-size: 30px; /* Size of the '+' sign */
    text-decoration: none; /* Remove underline from the link */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Shadow for the button */
    transition: background-color 0.3s ease; /* Transition effect */
    z-index: 1052; /* Ensure button is above navbar */
}

.floating-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Styles that adjust layout for smaller screens */
@media (max-width: 500px) {
  body, th, td {
    font-size: 16px; /* Smaller font size for small screens */
  }
  .tabs {
    display: flex;
    justify-content: center; /* Center tabs horizontally */
    flex-wrap: wrap; /* Allow the tabs to wrap onto the next line if needed */
    margin-bottom: 20px; /* Space below the tabs container */
    position: sticky; /* Make the tabs stick to the top of the viewport */
    top: 0; /* Distance from the top of the viewport */
    background-color: inherit; /* Set a background color to ensure the text behind doesn't show through */
    z-index: 1000; /* Ensure the tabs stay on top of other content */
  }
  .tablinks {
    background-color: #eee; /* Light grey background */
    border: none; /* Remove borders */
    padding: 10px 0; /* Adjusted padding for top and bottom */
    flex-grow: 1; /* Allow buttons to grow and fill the container */
    text-align: center; /* Ensure text is centered within each tab */
    cursor: pointer; /* Cursor indicates clickable item */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    font-weight: bold;
    margin: 2; /* Remove margin to allow buttons to touch each other */
  }
  .sub-tablinks {
    background-color: #ffffff; /* Light background making active tab stand out */
    border: 1px solid #ccc;
    padding: 5px 10px; /* Adequate padding for touch targets */
    margin: 8px; /* Space between tabs */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s; /* Smooth background color change and slight grow effect */
    border-radius: 4px; /* Rounded corners for tabs */
    font-weight: 600; /* Slightly bolder font for better readability */
    font-size: 12px;
    width: 30%;
  }

  /* Additional responsive styles for smaller screens */
}

/* Media queries to adjust the grid layout based on screen width */
@media (max-width: 768px) {
  .sub-tablinks {
    margin: 4px 2px; /* Adjust margins for tighter spaces */
    padding: 10px 5px; /* Adjust padding to fit smaller screens */
  }
}

@media (min-width: 401px) {
  .tabulator {
        margin-left: auto;
        margin-right: auto;
        max-width: 375px; /* Ensures tables don't stretch beyond this width */
    }
}
